<h1>Links Index</h1>

<ul>
	<!-- .order cannot be applied after .all, but works on the class object -->
	<% Link.order("(upvotes - downvotes) DESC").each do |link| %>
	  <% @link = link %>
		<%= render "links/link_with_comments" %>
	<% end %>
</ul>

<%= link_to "Add Link", new_link_url %>